extends layout 

block main
  form(action='result' method='POST')
    label(for='currencyFrom') Currency you are paying in: 
    input(type='text' name='currencyFrom')
    label(for='currencyTo') Your home currency: 
    input(type='text' name='currencyTo')  
    label(for='billAmount') Bill amount: 
    input(type='text' name='billAmount')
    label(for='tipPercentage') Tip percentage:    
    select(name='tipPercentage')   
      -for(var i = 0; i < 21; i++)
        option #{i * 5}%                     
    label(for='people') No of people: 
    input(type='text' name='people')  
    input(type='submit')    
